@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Delius&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

// Variables - Fonts
$heading-font: "Clicker Script", cursive;
$body-font: "Delius", cursive;
$code-font: "Roboto Mono", monospace;
