@use "colors" as c;
@use "fonts" as f;
@use "sizes" as s;

// Home Page
.home {
	display: flex;
	flex-direction: column;
	gap: s.$gap;
	padding: s.$padding-0;
	min-height: 100dvh;
	max-width: 100dvw;

	.card {
		padding: s.$padding;
		.content {
			&.three {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: s.$gap;

				.section {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: s.$gap;
					border: 1px solid c.$border-color;
					border-radius: s.$border-radius;
					height: 100%;
					width: 100%;
					padding: s.$padding;

					.title {
						font-size: s.$title-lg;
						font-weight: normal;
						text-transform: capitalize;
					}
				}
			}

			&.two {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: s.$gap;
				.section {
					display: flex;
					align-items: center;

					&:last-child {
						display: flex;
						align-items: center;
						gap: s.$gap;
						width: fit-content;
						margin: auto;
					}

					.icon {
						display: flex;
						align-items: center;
						justify-content: center;
						height: 40px;
						width: 40px;
						border: 1px solid c.$border-color;
						border-radius: s.$circle;
						transition: background-color 0.3s ease-in-out;

						&:hover {
							background-color: c.$border-color;
						}
					}
				}

				.me {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: s.$gap;
					width: 100%;

					.image {
						border: 1px solid c.$border-color;
						border-radius: s.$circle;
						height: 300px;
						width: 300px;
						overflow: hidden;

						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}

					ul {
						display: flex;
						flex-direction: row;
						gap: s.$gap;
						width: fit-content;

						li {
							display: flex;
							align-items: center;
							gap: 0;
							border: 1px solid c.$border-color;
							border-radius: s.$circle;
							padding: s.$padding;
						}
					}
				}
				.info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: justify;
					gap: s.$gap;
				}
			}
		}
	}
}

// Components - Card
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: s.$gap;
	height: fit-content;
	width: 100%;

	.title {
		font-size: s.$title-xl;
		font-weight: 600;
		text-transform: capitalize;
	}

	.content {
		height: 100%;
		width: 100%;
	}
}

// Components - Field
.field {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;

	label {
		text-transform: capitalize;
	}

	input {
		padding: s.$padding;
	}
}

// Components - Project
.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: s.$gap;
	border: 1px solid c.$border-color;
	border-radius: s.$border-radius;
	padding: s.$padding;
	width: 100%;
	cursor: default;

	.image {
		border-radius: s.$border-radius;
		height: 200px;
		width: 100%;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			opacity: 0.8;
		}
	}

	.details {
		display: flex;
		flex-direction: column;
		gap: s.$gap;
		width: 100%;

		.title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.links {
			display: flex;
			align-items: center;
			gap: s.$gap;
			width: fit-content;
			margin-inline: auto;
		}
	}
}

// Components - Header
.header {
	background-color: c.$background-color;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: s.$gap;
	padding: s.$padding;
	width: 100%;
	z-index: 2;

	.title {
		font-family: f.$heading-font;
		font-size: calc(s.$title-xl * 2);
		font-weight: 600;
	}

	.links {
		display: flex;
		align-items: center;
		gap: s.$gap;

		.link {
			border-radius: s.$border-radius;
			padding: 4px s.$padding-0;
			cursor: pointer;
		}
	}

	.menu {
		display: none;
		svg {
			height: 24px;
			width: 24px;
		}
	}
}

// Components - Footer
.footer {
	border-top: 1px solid c.$border-color;
	text-align: center;
	padding: s.$padding;
}

// Responsive Design
@media screen and (max-width: 1024px) {
	.home {
		.card {
			.content {
				&.three {
					grid-template-columns: repeat(2, 1fr);

					.section {
						&:last-child {
							grid-column: 1/3;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.home {
		padding: 0;
		.card {
			.content {
				&.three {
					grid-template-columns: 1fr;

					.section {
						border: none;

						&:last-child {
							grid-column: 1/2;
						}
					}
				}
			}
		}
	}

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;

		&.show {
			.links {
				transform: translateX(0);
			}
		}

		.links {
			position: absolute;
			top: 72px;
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: s.$padding-2 s.$padding;
			background-color: c.$background-color;
			overflow: hidden;
			transform: translateX(-100%);
			transition: transform 0.5s ease-in-out;

			.link {
				border-block: 1px solid c.$border-color;
				border-radius: 0;
				width: 100%;
				padding: s.$padding-2;
				transition: background-color 0.3s ease-in-out;

				&:hover {
					background-color: c.$container-color;
				}
			}
		}

		.menu {
			display: block;
			position: absolute;
			top: 24px;
			right: 12px;
			transform: translateY(50%);
		}
	}
}

@media screen and (max-width: 480px) {
	.home {
		.card {
			.content {
				&.two {
					grid-template-columns: 1fr;
				}
			}
		}
	}
	.project {
		.details {
			.title {
				flex-direction: column;
				align-items: flex-start;
				gap: s.$gap;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.home {
		.card {
			.content {
				&.two {
					.section {
						&:first-child {
							img {
								height: 250px;
								width: 250px;
							}
						}
					}

					.me {
						.image {
							height: 250px;
							width: 250px;
						}
					}
				}
			}
		}
	}
}
